<div class="body-container">
  <div class="poll-header">
    <h1>Bad Jokes Poll</h1>
  </div>

  <div class="poll-container">
    <div class="question">
      <p>What is your favourite bad joke?</p>
    </div>

    <div class="one">
      <div class="joke answer-1 vote-bar-1">
        <p class="setup">What did the fish say when he swam into a wall?</p>
        <p class="punchline">"Dam"</p>
      </div>
      <div class="display-votes display-votes-1">
      </div>
    </div>

    <div class="two">
      <div class="joke answer-2 vote-bar-2">
        <p class="setup">Did you hear about the guy who invented the knock-knock joke?</p>
        <p class="punchline">He won the "no=bell" prize</p>
      </div>
      <div class="display-votes display-votes-2">
      </div>
    </div>

    <div class="three">
      <div class="joke answer-3 vote-bar-3">
        <p class="setup">What's the difference between a rabbit and a plum?</p>
        <p class="punchline">They're both purple except for the rabbit.</p>
      </div>
      <div class="display-votes display-votes-3">
      </div>
    </div>
  </div>

  <%= render partial: 'shared/signature' %>
</div>
