<div class="navbar-container">
  <div class="navbar">
    <div class="navbar-logo">
      <a href="/">
        <i class="far fas fa-grin-squint-tears fa-lg"></i></i><p class="logo-text">JKs Poll</p>
      </a>
    </div>
    <div class="menu-navigation">
      <div class="myaccount">
        <button class="menu"><i class="fas fa-chart-pie fa-lg"></i></button>
      </div>
      <div class="myaccount">
        <button class="menu"><i class="fas fa-bars fa-lg"></i></button>
      </div>
    </div>
  </div>
</div>