<div class="body-container">
  <h1>Welcome to Bad Joke Poll</h1>
  <p>Help us answer the old question, what is the best worst joke?</p>
  <a href="/poll"><button>Vote now!</button></a>

  <%= render partial: 'shared/signature' %>
</div>